
body {
	background-image:url('background.jpg');
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

h1 {
	
	margin-top: 7%;
	font-size: 90px;
	text-align: center;
	color: #FFF;
	font-family: "Helvetica";
}

h2 {
	
	font-size: 40px;
	color: #FFF;
	font-family: "Helvetica";
}

#main {
	width: 10%;
    margin: 0 auto;
}

#send
{
	margin-top: 200px;
    margin-left: -200px;	
}

#sendMain {
	margin: 0 auto;
	margin-top: 10%; 
	width: 650px;
}

form {
	height:200px;
}

button {
	-moz-box-shadow:inset -5px 1px 0px -31px #ffffff;
	-webkit-box-shadow:inset -5px 1px 0px -31px #ffffff;
	box-shadow:inset -5px 1px 0px -31px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:70px;
	line-height:70px;
	width:500px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

#press {
	margin: 0 auto;
    margin-left: -200px;

}

#message {
	margin: 0 auto;
	margin-top: 15%; 
	text-align: center;	
}


p {
	
	font-size: 30px;
	color: #FFF;
	font-family: "Helvetica";
}


h3 {
	margin-top: 200px;
	font-size: 20px;
	color: #FFF;
	font-family: "Helvetica";
	text-align: center;	
}



a:link {text-decoration:underline;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */

a:link {color:#FFF;}
a:visited {color:#FFF;}
a:hover {color:#FFF;}
a:active {color:#FFF;}